<h1>Category $name$</h1>

<div id="topPackages">
	<h2>Top Packages</h2>
	<p class="description">Packages that have the most dependencies to them from other packages in this category.</p>
	<ul>
		$for(topPackages)$
		<li>
			<a href="/packages/$name$.html">$name$</a> $score$
		</li>
		$endfor$
	</ul>
</div>

<div id="topCoCategories">
	<h2>Top Paired Categories</h2>
	<p class="description">Categories that are often combined with this category.</p>
	<ul>
		$for(topCoCategories)$
		<li>
			<a href="/categories/$name$.html">$name$</a> $score$
		</li>
		$endfor$
	</ul>
</div>


